<ion-view view-title="Register">
  <ion-content>
    <div class="list" ng-controller="registerController">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="data.nombre">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Apellido</span>
        <input type="text"  ng-model="data.apellido">
        
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" ng-model="data.email">
      </label>
      <button class="button button-block button-positive" ng-click="register()" >
        Registrarse
      </button>
    </div>
  </ion-content>
</ion-view>    

