img {
    -webkit-user-drag: none;
    float: left;
    width: 12vh;
}

.list {
    margin-top: 7vh;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
}

.botonVer {
    background-color: transparent;
    float: right;
    border-color: transparent;
    color: lightcoral;
}

.info {
    color: gray;
    margin-left: 14vh;
    margin-top: 2vh;
}

.titulo {
    text-align: center;
    margin-top: 13vh;
    color: gray;
    font-size: 4vh;
}