.login, .login .pane, .login .item-complex .item-content .ion-content .ion-view {
    background-color: black;
    
}
.list {
    margin-top: 6vh;
    background-color: black;
}

.view {
    background-color: black;
    
}

.background{
    background-color: black;
}

.item-input {
    margin: 0 auto;
    width: 45vh;
    background-color: white;
    height: 8.7vh;
    margin-top: 2%;
    margin-bottom: 3vh;
    border-radius: 0.5vh;
}

.btn-login {
    width: 28vh;
    font-size: 3.4vh;
    margin-top: 10%;
    background-color: #ff6666;
    color: white;
}
.buttonHolder {
        text-align: center; 
}
.textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    display: inline-block;
    padding-left: 4vh;
    height: 34px;
    color: rgb(17, 17, 17);
    vertical-align: middle;
    font-size: 2.6vh;
    line-height: 16px;
}

.placeholder-icon {
    font-size: 3.5vh;
    color: #666666;
}

.item-image img:first-child, .item-image .list-img {
    width: 76%;
    vertical-align: middle;
    margin-top: 10vh;
}

.item-image {
    border-bottom-color: black;
    background-color: black;
}

.letras {
    margin-top: 0.8vh;
}

.overflow-scroll > .scroll {
    background-color: black;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.menu-left {
    background-color: black;
    left: 0;
}

.link-div {
    text-align: center;
    margin-top: 14vh;
    font-size: 2.5vh;
    letter-spacing: 0.1vh;
    font-family: cursive;
}

.link {
    color: white;
}





